:root{

    /*========== Colors ==========*/

    --clr-primary:#4F46E5;
    --clr-primary-light:#6366F1;

    --clr-white:#FFFFFF;

    --clr-bg:#F8FAFC;

    --clr-text:#0F172A;
    --clr-text-light:#64748B;

    --clr-border:#E2E8F0;

    /*========== Border Radius ==========*/

    --radius-sm:6px;
    --radius-md:12px;
    --radius-lg:20px;

    /*========== Font Weight ==========*/

    --fw-regular:400;
    --fw-medium:500;
    --fw-semibold:600;
    --fw-bold:700;

    /*========== Transition ==========*/

    --transition:0.3s ease;

}